{% block sw_cms_element_preview_freshdesk_standard_form %}
    <div class="sw-cms-el-preview-freshdesk-standard-form">
        <h3>Freshdesk Standard Form</h3>
        <div class="preview-fields">
            <div class="preview-field">First Name | Last Name</div>
            <div class="preview-field">Email | Phone</div>
            <div class="preview-field">Type</div>
            <div class="preview-field">Subject</div>
            <div class="preview-field large">Description</div>
        </div>
        <div class="preview-button">Submit</div>
    </div>
{% endblock %}
