{% block sw_cms_element_freshdesk_standard_form_config %}
<div class="sw-cms-el-freshdesk-standard-form">
    <div class="sw-cms-el-form-contact-form-group">
        <mt-text-field
            v-model="element.config.formTitle.value"
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.formTitle')"
            ></mt-text-field>
    </div>

    <mt-textarea
            v-model="element.config.descriptionLabel.value"
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.descriptionLabel')"
            ></mt-textarea>

    <div class="sw-cms-el-form-contact-form-group">
        <mt-text-field
            v-model="element.config.defaultSubject.value"
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.defaultSubject')"
            ></mt-text-field>
    </div>

    {#<div class="sw-cms-el-form-contact-form-group two-items">
        <mt-text-field
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.firstNameLabel')"
            :model-value="element.config.firstNameLabel.value"></mt-text-field>

        <mt-text-field
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.lastNameLabel')"
            :model-value="element.config.lastNameLabel.value"></mt-text-field>
    </div>

    <div class="sw-cms-el-form-contact-form-group two-items">
        <mt-text-field
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.emailLabel')"
            :model-value="element.config.emailLabel.value"></mt-text-field>

        <mt-text-field
            :label="$tc('sw-cms.elements.freshdeskStandardForm.config.phoneLabel')"
            :model-value="element.config.phoneLabel.value"></mt-text-field>
    </div>

    <mt-select
        :label="$tc('sw-cms.elements.freshdeskStandardForm.config.typeLabel')"
        :model-value="'Request'"
        :options="typeOptions"></mt-select>

    <mt-text-field
        :label="$tc('sw-cms.elements.freshdeskStandardForm.config.subjectLabel')"
        :model-value="element.config.subjectLabel.value"></mt-text-field>

    <mt-textarea
        :label="$tc('sw-cms.elements.freshdeskStandardForm.config.descriptionLabel')"
        :model-value="element.config.descriptionLabel.value"></mt-textarea>

    <p class="sw-cms-el-form-contact__note">
        * Required fields
    </p>#}
</div>
{% endblock %}
