{% block block_freshdesk_standard_form %}
    {% set element = block.slots.getSlot('content') %}

    <div class="col-12 cms-block-{{ element.type }}" data-cms-element-id="{{ element.id }}">
        {% block block_freshdesk_standard_form_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" %}
        {% endblock %}
    </div>
{% endblock %}
